<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Playground</title>
</head>
<body>
<main class="mx-2 my-2">
    {% for number in numbers %}
    	<p class="bg-teal-400 my-2 w-1/12 text-center">{{ number }}</p>
    {% endfor %}

</main>
</body>
</html>